<p>photos works!</p>
<!-- <div class="mx-5 px-5">


    <div class="">
        <h1 class="bg-white text-center fugazMenu">Photos</h1>
    </div>

    <div class="row mt-4">
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo01.jpg" alt="">
        </div>
        <div class="col px-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo02.jpg" alt="">
        </div>
        <div class="col pr-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo03.jpg" alt="">
        </div>
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo04.jpg" alt="">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo05.jpg" alt="">
        </div>
        <div class="col px-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo06.jpg" alt="">
        </div>
        <div class="col pr-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo07.jpg" alt="">
        </div>
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo08.jpg" alt="">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo09.jpg" alt="">
        </div>
        <div class="col px-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo10.jpg" alt="">
        </div>
        <div class="col pr-0">
            <img class="container bg-white p-2" src="../../../assets/images/photo11.jpg" alt="">
        </div>
        <div class="col">
            <img class="container bg-white p-2" src="../../../assets/images/photo12.jpg" alt="">
        </div>
    </div>
</div> -->