/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
body{
    background-image: url("../src/assets/images/bgtexture.jpg");
    background-size: cover;
}

// .bg-image{
//     background-image: url("assets/images/bgtexture.jpg");
//     background-size: cover;
//     height: 100vh;
// }

.cateringHero{
    background-image: url("../src/assets/images/cateringHero.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: fill;
}

.cateringMaine{
    background-image: url("../src/assets/images/cateringMaine.jpg");
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.catering1{
    background-image: url("../src/assets/images/catering1.jpg");
    height: 297px;
    width: 100%;
    background-size: center;
    background-position: fill;
}

.catering2{
    background-image: url("../src/assets/images/catering2.jpg");
    height: 297px;
    width: 100%;
    background-size: center;
    background-position: fill;
}

.catering3{
    background-image: url("../src/assets/images/catering3.jpg");
    height: 297px;
    width: 100%;
    background-size: center;
    background-position: center;
}

.companylogo{
    background-image: url("../src/assets/images/CompanyLogo.png");
    height: 10px;
    width: 10px;
    background-size: cover;
    background-position: center;
}

.menu{
    color: #5F002B;
    text-align: center;
    background: #ffffff;
}
hr{
    background-color: #5F002B;
}

.header{
    color: #5F002B;
}
.card{
    height: 100%;
}
/* .card{
    width: 70%;
} */

.fugaz{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color: #5F002B;
}
.fugazMenu{
    font-family: 'Fugaz One', cursive;
    font-size: 35px;
    color: #5F002B;
}

.montaukHeader{
    font-family: 'Montauk';
    font-size: 25px;
    color: #5F002B;
}

.navBarMenu{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.fugazLink{
    color: #5F002B;
}

@font-face {
    font-family: Montauk;
    src: url("../src/assets/Montauk-Regular/Montauk-Regular.otf") format("opentype");
}

@font-face {
    font-family: Montauk;
    font-weight: bold;
    src: url("../src/assets/Montauk-Regular/Montauk-Regular.otf") format("opentype");
}

// .background{
//     background-image: url(./RestaurantMockupFiles/assets/bgtexture.jpg);
// }

.titlepad{
    padding-top: 3%;
}

.navcontrol{
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
    font-size: 22px;
}

.pictop{
    padding-top: 15%;
    height: 100%;
    width: 100%;
}

.nopad{
    padding: 0;
}

.storyText{
    font-size: 15px;
    font-family: Montauk-Regular;
    color: #5F002B;
}

.teamtext{
    justify-content: center;
    align-items: center;
}
