<nav class="nav">

    <ul>
        <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active"class="nav-link">
                <h4 class="">Home</h4>
            </a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">
                <h4>About</h4>
            </a>
        </li>
        <li>
            <a routerLink="/menu" routerLinkActive="active">
                <h4>Menu</h4>
            </a>
        </li>
        <li>
            <a routerLink="/catering" routerLinkActive="active">
                <h4>Catering</h4>
            </a>
        </li>
        <li>
            <a routerLink="/photo" routerLinkActive="active">
                <h4>Photo</h4>
            </a>
        </li>
    </ul>
</nav>